  <section class="wkOutHistSect">
    <div id="wkOutHistContainer">
      <div id="exercDate">
        <h3>{{date}}</h3>
      </div>
      <div id="exercList">
        <h3>{{routines.routineName}}</h3>
        <p>{{exercises.workoutName}}<br>{{exercises.workoutName}}<br>{{exercises.workoutName}}</p>
      </div>
    </div>
  </section>

