  <section class="wkOutHistSect">
    <div id="wkOutHistContainer">
      <div id="exercDate">
        <h3>{{ format_date date}} </h3>
      </div>
      <div id="exercList">
        <h3>{{wrkOutRoutine.routineName}}</h3>
        <p>{{exercises.workoutName}}<br>{{exercises.workoutName}}<br>{{exercises.workoutName}}</p>
      </div>
    </div>
  </section>

