<main class="exerMain">
  {{#ifCond exercises}}
  <div id="greatFin">
  <h2 id="greatWork">Great Workout!</h2>
  <a id="finishBtnFinal" href="/api/workouthistory">Finish</a>
  </div>
  {{/ifCond}}
  {{#each exercises as |exercise| }}
  <section class="exerSect">
    <div class="exerBox">
      <!-- CHANGE TO THIS HANDLEBARS -->
      <div id="exerTitle">
        <h2 id="exerWkoutTitle">{{workoutName}}</h2>
      </div>
      <div class="exerData" id="{{id}}-{{routineId}}">
        <div class="exerSRep">
          <a class="SRepBox">Sets left: {{sets}}</a>
          <a class="SRepBox">Reps per Set: {{reps}}</a>
        </div>
        <div class="exerImgBox">
          <img id="exerImg" src="{{exercise.photo_link}}" alt="{{exercise.photo_link}}" />
        </div>
      </div>
    </div>
  </section>
  <section class="timerSect">
    <div class="timeContainer">
      <div id="timeTitle">
        <h3>TIMER</h3>
      </div>
      <div id="timerFrame">
        <div class="timer">
          {{ speak exercise.workoutName exercise.reps exercise.sets }}
          <div id="countDown">{{exercise.countdownDuration}}</div>
        </div>
      </div>
      <div class="timerBtns">
        <button id="startBtn" type="button">Start</button>
        <button id="stopBtn" type="button">Stop</button>
        <script src="/js/clock.js"></script>
      </div>
    </div>
    </div>
  </section>
  <div id="navBtns">
    <button id="nextBtn" type="button">Next Workout</button>
    <button id="finishBtn" type="button">Finish Now</button>
  </div>
  {{/each}}
</main>

{{!-- add div id with {{exercise.routineId}} to queryseelct in exercise.js--}}
<script src="/js/exercise.js"></script>